# Ignore files prefixed with `MH-`
MH-*

# Same, but allow things to be sorted earlier
0000_MH_*

# Ignore remnants of git operations
*.orig

# .vscode folders probably _should_ be committed to projects, but don't do it
# by default--it gets annoying to try to maintain one and ensure it's not
# committed. use git add --force to bypass this.
/.vscode

**/.claude/settings.local.json
